.table{
    border: 1px solid gray;
    margin-top: 50px;
    margin-left: 200px;
    margin-right: 200px;    
    border-collapse: collapse;
    
    
}

.table td {
    border: 1px solid gray;
    max-width: 600px;    
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
    position: relative;
    
}


.table thead td {
    text-align: center;
    font-size: 18px;
    color: white;
    font-weight: bold;
    background-color: black;
    height: 60px;    
}

.table thead td:hover {
    text-align: center;
    font-size: 18px;
    font-weight: bold;
    color: white;
    background-color:dimgrey;
    height: 60px;    
}

.table tbody td{
    
    text-align: justify;
    padding: 15px;   

}



.overflow{
  height: 400px; 
  overflow-y: scroll
}

.tooltip {
   
  position: absolute;    
  border-bottom: 1px dotted black;
}

/* Text desplegable*/

  .tooltip .tooltiptext {
    visibility: hidden;
    width: 450px;
    background-color: black;    
    color: #fff;
    text-align: center;
    border-radius: 6px;
    padding: 20px;
    position:absolute;
    z-index: 3;    
    top: 110%;
    left: 50%;
    margin-left: -200px;    
    opacity: 0;
    transition: opacity 1.5s;
  }
  
  /*Flecha del tooltip*/

  .tooltip .tooltiptext::after {
    content: " ";
    position: absolute;    
    bottom: 100%;
    left: 50%;   
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent black;
  }
  
  .tooltip:hover .tooltiptext {
    visibility: visible;
    opacity: 1;
  }

 /*Menú desplegable*/

 .tooltip .tooltipmenu{
    width: auto;   
    visibility: hidden;
    background-color:gainsboro;
    font-weight: normal;
    text-align: left;    
    color: white;   
    position: fixed;
    z-index: 1; 
    padding-top: 6px; 
    padding-left: 2px;
    padding-right: 2px;    
    border-radius: 6px;
    
 }


 .tooltip .tooltipmenu::after {
    content: " ";
    position: fixed;
    border-width: 10px;
    border-style: solid;
    top: 120%;
    left: 45%;    
    border-color: transparent transparent white transparent;
}

.tooltip:hover .tooltipmenu{
    visibility: visible;
    opacity: 1;
    border-collapse: collapse;
}



.tooltipmenu .p {  
  text-align: left;
  font-size: 16px;
  color: black;
  width: 100%;
}

.tooltipmenu .p:hover{
  background-color: darkgrey;  
}

.tooltipmenu .p .img{
  
  width: 20px;
  height: 20px;

}


